#nbs-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.3);
  cursor: crosshair;
  z-index: 999999;
}

#nbs-selection-box {
  position: fixed;
  border: 2px dashed #FFD700; /* Banana Color */
  background: rgba(255, 255, 255, 0.2);
  z-index: 1000000;
  pointer-events: none;
}
